:root{
    --text-type: Sans-serif;
    --text-color-back:white;
}
body{
    height: 100vh;
    font-family:var(--text-type);
    margin: 0px;
    margin-block-start:0px!important;
    margin-block-end:0px!important;
}

header {
    height: 40px;
    background-color: green;
}

header>div{
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center
}
header>div>span{
    margin-left:16px;
    color: var( --text-color-back);
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

header>div>.isLive{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    background-color: red;
    text-transform: uppercase;
}
.isJoin:hover{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 12px;
    padding-right: 12px;
    background-color: #3FFA53;
    box-shadow: 20px;
    cursor: pointer;
}
nav{
    width: 100%;
}
.headerNav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

}
.iconHeadernNav{
    object-fit: contain;
    max-width: 180px;
    max-height: 120px;
}
.Navbackground{
    z-index: -1;
    width: 100%;
    object-fit: cover;
    max-height: 600px;
    position: absolute;
}
.routeNav{
    display: flex;
    height: 120px;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.routeNav>.route{
    margin-left:16px;
    color: var( --text-color-back);
    font-weight: bold;
    font-size: 16px;
    text-decoration: none !important;
}
.contentNavBody{
    display: flex;
    flex-direction: column;
}
.bodyNav{
    margin-left: 16px;
}
.bodyNavTitle{
    font-size: 46px;
    color: var( --text-color-back);
    font-weight: bold;
}
.bodyNavTitle2{
    font-size: 46px;
    max-width: fit-content;
    background-color: white;
    color: black;
    font-weight: bold;
}
.bodyNavButton{
    padding: 16px;
    background-color: #3FFA53;
    color: white;
    font-size: 24px;
    border: none;
    border-radius: 12px;
}
.bodyNavButton:hover{
    cursor: pointer;
}
.footerNav{
    display: flex;
    flex-direction: row;
    margin-top: 4.5%;
    height: 75px;
    background-color: #025602;
}
.footerContenTextNav{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: var( --text-color-back);
    font-weight: bold;
    padding-left: 25px;
}
.footerContenTimeNav{
    padding-left: 26px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 60%;
}
.blockTime{
    color: var( --text-color-back);
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.blockTime>span{
    font-size: 26px;
}
.blockTitle{
    margin-block-start:0xp  !important;
    margin-block-end:0xp  !important;
}
.divider{
    height: 45px;
    border-top: 3px solid #bbb;
  }
.blockSpan{
  color: #3FFA53 !important;
}
.firtsCard{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.textFirst{
    width: 48%;
    padding-left: 25px;
    padding-right: 25px;
}
.textFirst>h1{
    font-size: 56px;
}
.textFirst>p{
    font-size: 24px;
}
.imageFirstCard{
    object-fit: cover;
    width: 38%;
}
.secondCard{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.secondCard .secondCardTitle{
    font-size:56px;
}
.secondCard .secondCardDesc{
    width: 50%; 
    text-align:center
}
.secondCardContent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 5%;
}
.btnCard{
    background-color: #3FFA53;
    color: white;
    font-size: 26px;
    border: none;
    padding-top: 12px;
    padding-bottom: 12px;
}
.btnCard:hover{
    cursor: pointer;
}
.cardImage{
    object-fit: cover;
    max-height: 300px;
    max-width: 600px;
}
.card{
    display: flex;
    flex-direction: column;
}
.btnSecondCard{
    margin-top: 5%;
    border-radius: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 36px;
    padding-right: 36px;
    color: black;
    font-size: 16px;
    font-weight: bold;

}
.threeCard{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    width: 100%;
    background-color: #3FFA53;
    justify-content: center;
    gap: 15%;
    max-height: 480px;
}
.threeCardContent{
    width: 35%;
}
.textCardThree{
    font-size: 48px;
    color: white;
    padding: 16px;
    font-weight: bold;

}
.btnThreeCard{
    margin-top: 16px;
    border-radius: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;
    color: black;
    background-color: white;
    border: none;
    font-size: 16px;
    font-weight: bold;
    width: 100%;
}
.btnThreeCard2{
    margin-top: 16px;
    border-radius: 10px;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 24px;
    padding-right: 24px;
    color: white;
    background-color: transparent;
    border-color: white;
    font-size: 16px;
    font-weight: bold;
    width: 100%;

}
.threeCardImage{
    object-fit: fill;
    width: 35%;
}
.fourCard{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.fourCard h1{
    font-size: 48px; font-weight: bold;
}
.fourCard .playicon{
    position: absolute; 
    color:white;
    font-size: 60px;
}
.fourCardContent{
    display: flex;
    flex-wrap: wrap;
    flex-direction: wrap;
    justify-content: center;
    align-items: center;
    gap:15%
}
.fourCardFile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.fourCardFile img{
    object-fit: contain; max-width: 250px;
}
.fourCardFile p{
    margin-top:5%
}
.btnFourCard{
    padding: 16px;
    border: none;
    color: white;
    background-color: #3FFA53;
    border-radius: 10px;
    font-size: 24px;
    padding-left: 46px;
    padding-right: 46px;
    font-weight: bold;
}
.btnStandar{
    padding: 16px;
    border: none;
    color: white;
    background-color: #3FFA53;
    border-radius: 10px;
    font-size: 24px;
    padding-left: 46px;
    padding-right: 46px;
    font-weight: bold;
}
.btnStandar:hover{
    cursor: pointer;
}
.fiveCard{
    margin-top: 5%;
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 100%;
}
.fiveCard img.JoinUsBackground{
    position:absolute; width:100%; object-fit:fill; z-index: -1;max-height: 800px;
}
.formFiveCard{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 5%;
}
.formFiveCard .title{
    font-size: 56px; font-weight: bold; color: white; margin:2%;
}
.formFiveCard .description{
    font-size: 16px; font-weight: bold; color: white; margin:2%;
}
.formFiveCard .formRow{
    display: flex;
}
.inputFormBasic{
    border: none;
    border-radius: 10px;
    margin: 2%;
    height: 45px;
    padding-left: 16px;
}
.inputFormBasic.first{
    margin-right: 0px; width: 100%;
}
.inputFormBasic.second{
   width: 100%;
}
textarea.inputFormBasic{
    height: 120px; padding-top: 16px;
}
.formFiveCard button.btnStandar{
    max-width: fit-content; margin:2%; 
}
.formFiveCard .formfooter{
    font-size: 16px; font-weight: bold; color: white; margin-top:2%; margin-left: 2%; text-align: center;
}
.sixCard{ 
    display: flex;
    flex-direction: row;
    height: 100%;
    min-height: 600px;
  
  
}
.sixCard .imgBackground{
    position:absolute; width:100%; object-fit:fill; z-index: -1; max-height: 700px; margin-top: 8.2%;
}
.sixCard .info{
    width: 40%; margin-left:5%; margin-top:10%
}
.sixCard .info h1{
    font-size: 56px;
}
.sixCard .info p{
    width: 25%;
}
.sixCard .info button.btnStandar{
    margin-top:10%;
}
.sevenCard{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5%;
    background-color: #1D794A;
    margin-top: 15%;
}
.sevenCard .CarouselImg{
    object-fit:fill; width:300px; height:400px;
}

.sevenCard h1.title{
    font-size: 56px; color: white;
}
.sevenCard .CarouselDots{
    display: flex; margin-top: 2%; width: 100%; justify-content: center; gap: 2%;
}
.CarouselDots .Dot{
    color: white;
}
.sevenCard button.btnStandar{
    color: black; background-color:white; margin-top:5%
}
.sevenCard .slider-items{
    padding: 5%;
}

.menuLateral{
    display: flex;
    flex-direction: column;
    gap: 10%;
    position: fixed;
    background-color: gray;
    align-items: center;
    justify-content: center;
    height: 180px;
    width: 30px;
    top: 150px;
    right: 0;
}
.menuLateral .socialIcon{
    color: white;
}
.menuLateral .socialIcon:hover{
    cursor: pointer;
}
footer {
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    padding-top: 2%; 
    padding-bottom: 2%;
}
footer p.ft-text-left{
    font-weight: bold;
     width:300px; 
     text-align:center
}
footer p.ft-text-rigth{
    font-weight: bold; width:200px; text-align:center
}
footer img{
    object-fit: contain;
    height: 120px;; 
    width:200px 
}
